.img-fluid {
    margin-top: 3%;
    margin-left: 2%;
    width: 400px;
    height: 400px;
}

.img-fluid2 {
    margin-top: 3%;
    margin-left: 4%;
    padding-right: 3%;
    width: 400px;
    height: 400px;
}

.ab {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.ab img {
    margin: 0 auto;
    margin-left: 2%;
}

.detail {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: white;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    font-size: medium;
    padding: 2%;
    width: 65%;
    text-align: justify;
}

.detail2 {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: white;
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    font-size: medium;
    margin-top: 2%;
    margin-left: 1%;
    width: 65%;
    text-align: justify;
}

.detail2 a {
    color: black;
    text-decoration: none;
}

.home {
    margin: 3% 0;
}

.home a {
    margin-top: 2%;
    margin-left: 2%;
    color: black;
    font-weight: bold;
}
