body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-registration {
    max-width: 400px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.setmargin {
    margin-bottom: 50px;
}

body {
   min-height: 850px;
}

.footer {
   bottom:0;
   /* height:820px; */
}

.logoo {
    height: 10%;
    width: 200px;
}

